.categories {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.button__categorie {
  width: 200px;
}

.flex__container__prices {
  display: flex;
  align-items: center;
}